<!DOCTYPE html>
<html lang="ro">
<head>
  <title>My account</title>
  <link rel="stylesheet" href="../CSS/account.css"> 
</head>

<div class="form">
<form >
	  <label for="points" style="color:#FFFFFF;font-family:'Inter', sans-serif;font-size:17px;"><strong>Points collected</strong></label>
    <input type="text" id="points" name="points"
    style="background-color: #2b3530;border:0px;color:#FFFFFF;font-weight: bold;font-size:16px;" readonly>
    <label for="user" style="color:#FFFFFF;font-family:'Inter', sans-serif;font-size:17px;"><strong>Username</strong></label>
    <input type="text" id="user" name="user"
    style="background-color: #2b3530;border:0px;color:#FFFFFF;font-weight: bold;font-size:16px;" readonly>
    <label for="email" style="color:#FFFFFF;font-family:'Inter', sans-serif;font-size:17px;"><strong>Email</strong></label>
    <input type="email" id="email" name="email" 
    style="background-color: #2b3530;border:0px;color:#FFFFFF;font-weight: bold;font-size:16px;" readonly>
	  <button type="button" class="logout-button" onclick="logout()"><strong>Log out</strong></button>
</form>      
</div>
</html>