
<!DOCTYPE html>
<html lang="ro">
<head>
	<title>Admin</title>
    <link rel="stylesheet" href="../CSS/admin.css">
</head>
<body>

<div class="top-buttons">
    <button onclick="exercices()" id="exercices" class="green-hover">EXERCICES</button>
    <button onclick="clasament()" id="clasament" class="green-hover">CLASAMENT</button>
    <button onclick="account()" id="account" class="green-hover">ACCOUNT</button>
    <button onclick="yourdata()" id="yourdata" class="green-hover">YOUR DATA</button>
	<button onclick="admin()" id="admin" class="green-hover">ADMIN</button>
    <button onclick="window.location.href='../HTML/about.html'" class="green-hover">ABOUT</button>
	<button id="username" class="username" ></button>
</div>

<div id="mainpage"></div>
<div id="users" class="users"></div>
<div id="user" class="user"></div>
<div id="generate" class="generate"></div>


<script src="../JAVASCRIPT/admin.js"></script>
</body>
</html>