<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Clasament</title>
    <link rel="stylesheet" href="../CSS/clasament.css"> 
</head>

<button class="type" style="font-size:17px;pointer-events: none;
			cursor: default;"><strong>Available Clasaments</strong></button>
<button class="type" onclick="total_points()" id="total_points" >All groups</button>
<button class="type" onclick="lower_points()" id="lower" >Back - Biceps</button>
<button class="type" onclick="upper_points()" id="upper" >Chest - Triceps - Shoulders</button>
<button class="type" onclick="leg_points()" id="legs" >Legs</button>
<button class="type" onclick="abd_points()" id="abs" >Abs</button>
<button class="type" onclick="pdf()" id="pdf" >PDF Format</button>
<button class="type" onclick="json()" id="json" >JSON Format</button>
<button class="type" onclick="csv()" id="csv" >CSV Format</button>
<button class="type" onclick="rss()" id="rss" >RSS Format</button>

</html>