
<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Exercice</title>
    <link rel="stylesheet" href="../CSS/exercices.css"> 
</head>

<button class="type" style="font-size:17px;pointer-events: none;
			cursor: default;"><strong>Muscle Groups</strong></button>
<button class="type" onclick="pull()" id="pull" >Pull</button>
<button class="type" onclick="push()" id="push" >Push</button>
<button class="type" onclick="abs()" id="abs" >Abs</button>
<button class="type" onclick="legs()" id="legs" >Legs</button>

</html>