<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="../CSS/login_account.css"> 
</head>

<form method="POST" action="../../Model/checkaccount.php">
    <label for="username">Username</label>
    <input type="text" id="username" name="username"
    style="background-color: #2b3530;border:0px;color:#FFFFFF;font-weight: bold;" required>

    <label for="password">Password</label>
    <input type="password" id="password" name="password"
    style="background-color: #2b3530;border:0px;color:#FFFFFF;font-weight: bold;" required>

    <button type="submit">Submit</button>

    <div class="back-button">
        <button type="button" onclick="back()">Back</button>
    </div>
</form>

</html>