<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Page</title>
    <link rel="stylesheet" href="../CSS/page.css"> 
</head>	
<body>

<div class="top-buttons">
    <button onclick="exercices()" id="exercices" class="green-hover">EXERCICES</button>
    <button onclick="clasament()" id="clasament" class="green-hover">CLASAMENT</button>
    <button onclick="account()" id="account" class="green-hover">ACCOUNT</button>
    <button onclick="yourdata()" id="yourdata" class="green-hover">YOUR DATA</button>
	<button onclick="window.location.href='../HTML/about.html'" class="green-hover">ABOUT</button>
	<button id="username" class="username"></button>
</div>

<div id="welcome">
	<p> WORKOUT WEB GENERATOR</p>
	<p class="p-interior"> SPECIAL DEVELOPED FOR YOUR TRAINING</p>
	<p class="p-interior"> ANYTIME, ANYWHERE!</p>
	<p> Get Started for FREE Now!</p>
	<button class="button1-interior"> Get It On <br>Google Play</button>
	<button class="button2-interior"> Download On The <br>App Store</button>
</div>

<div id="mainpage"></div>
<div id="user" class="user"></div>
<div id="generate" class="generate"></div>
	
<script  src="../JAVASCRIPT/page.js"> </script>
</body>
</html>
