<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Yourdata</title>
    <link rel="stylesheet" href="../CSS/yourdata.css"> 
</head>

<div class="form">
<form>
	<label for="birthday" style="color:#FFFFFF;font-family:'Inter', sans-serif;font-size:17px;"
    ><strong>Birthday</strong></label>
  	<input type="date" id="birthday" name="birthday" 
    style="background-color: #2b3530;border:0px;color:#FFFFFF;font-weight: bold;" readonly>
    <label for="height" style="color:#FFFFFF;font-family:'Inter', sans-serif;font-size:17px;"
    ><strong>Height (in cm)</strong></label>
    <input type="number" id="height"
     style="background-color: #2b3530;border:0px;color:#FFFFFF;font-weight: bold;" name="height" readonly>
    <label for="weight" style="color:#FFFFFF;font-family:'Inter', sans-serif;font-size:17px;">
        <strong>Weight (in kg)</strong></label>
    <input type="number" id="weight" name="weight"
     style="background-color: #2b3530;border:0px;color:#FFFFFF;font-weight: bold;" readonly>
	<label for="health" style="color: #FFFFFF;font-family:'Inter', sans-serif; font-size:17px;">
        <strong>Health issues</strong></label>
	<input type="text" id="health" name="health" 
    style="background-color: #2b3530;border:0px;color:#FFFFFF;font-weight: bold;" readonly>
	<label for="gender" style="color: #FFFFFF;font-family:'Inter', sans-serif; font-size:17px;">
        <strong>Gender</strong></label>
	<input type="text" id="gender" name="gender" 
    style="background-color: #2b3530;border:0px;color:#FFFFFF;font-weight: bold;" readonly>	
    <label for="preference" style="color: #FFFFFF;font-family:'Inter', sans-serif; font-size:17px;">
        <strong>Location</strong></label>
	<input type="text" id="preference" name="preference" 
    style="background-color: #2b3530;border:0px;color:#FFFFFF;font-weight: bold;" readonly>

    <button type="button" class="update-button" onclick="update()">Update</button>
</form>      
</div>
</html>

