<style>
    body {
        background-color: #1d2033;
        margin: 0;
        font-family: Arial, sans-serif;
    }

    button {
        text-align: center;
        color: white;
        background-color: #141724;
        padding: 10px;
        margin: 10px;
        border: none;
        cursor: pointer;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
    }

    .back-button {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    button:hover {
        background-color: #2a2f4a;
        transform: scale(1.05);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    }

    label {
        color: white;
        padding: 10px;
    }

    input {
        margin-bottom: 10px;
        padding: 5px;
        width: 200px;
    }

</style>

<form method="POST" action="../Model/insert.php">
    <label for="username" style="color: #FFFFFF;"><strong>Username</strong></label>
    <input type="text" id="username" name="username" 
    style="background-color: #2b3530;border:0px;color:#FFFFFF;font-weight: bold;" required>

    <label for="email" style="color: #FFFFFF;"><strong>Email</strong></label>
    <input type="email" id="email" name="email"
    style="background-color: #2b3530;border:0px;color:#FFFFFF;font-weight: bold;" required>

    <label for="password" style="color: #FFFFFF;"><strong>Password</strong></label>
    <input type="password" id="password" name="password"
    style="background-color: #2b3530;border:0px;color:#FFFFFF;font-weight: bold;" required>

    <button type="submit">Next</button>

    <div class="back-button">
        <button type="button" onclick="back()">Back</button>
    </div>
</form>
