
<p><strong> My Account</strong></p>
<form >
	<label for="points" style="color: black; padding: 10px;"><b>Points collected</b></label>
    <input type="text" id="points" name="points" readonly>
    <label for="username" style="color: black; padding: 10px;"><b>Username</b></label>
    <input type="text" id="username" name="username" readonly>
    <label for="email" style="color: black; padding: 10px;"><b>Email</b></label>
    <input type="email" id="email" name="email" readonly>
	<button type="button" onclick="logout()" class="logout"><strong>Log out</strong></button>
</form>      
